<!doctype html>
<html lang = "sv">
<head>
  {% block head %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
  <script src = "{{url_for('static', filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
  <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}">
  <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'stylesheets/custom.css')}}">
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
