{% extends "base.html" %}
{% block title %} Book Bay {% endblock %}
<!--{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %} !-->
{% block content %}
<div class = "container">
  <div class = "row center">
    <div class = "col-md-12">
      <img src = "{{url_for('static', filename = 'img/logo.png')}}" width=20%>
    </div>
  </div>
  <div class = "row center">
    <div class = "col-md-12">
      <h1>Book Bay</h1>
    </div>
  </div>
  <div class = "row center">
    <div class = "col-md-12">
      <input placeholder="ISBN" onkeydown="if (event.keyCode == 13) alert('hej')">
    </div>
  </div>
</div>
{% endblock %}
